header .menu {
  background: #23374d;
  color: #fff;
  display: flex;
  box-shadow: 3px 3px 5px 6px #ccc;
  height: 60px;
}
header .menu .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  padding: 10px;
}
header .menu .logo a {
  color: white;
  text-decoration: none;
}
header .menu .logo a h2 {
  margin: 0 20px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}
header .menu .logo a h2 i {
  font-size: 1.5em;
}
header .menu nav {
  text-transform: uppercase;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
header .menu nav a {
  font-size: 0.8em;
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
header .menu nav a:hover {
  color: #f3a953;
}
header .menu nav #iniciar_sesion {
  display: none;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
main .perfil {
  margin-top: 80px;
  margin-bottom: 30px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .perfil .foto {
  padding: 0 10px;
  width: 30%;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
main .perfil .foto #foto_usuario {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .perfil .foto img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
main .perfil .foto a{
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  background: #1089ff;
  padding: 10px 20px;
  font-weight: 300;
  border-radius: 5px;
}
main .perfil .foto a:hover{
  background: #23374d;
  transition: all 0.3s ease;
}

main .perfil .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 63%;
  padding: 28px 0;
}
main .perfil .info input {
  padding: 10px;
  width: 55%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  margin: 10px;
}
main .perfil .info .perfil-footer input {
  float: right;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background: #1089ff;
  padding: 10px 20px;
  font-weight: 300;
  border-radius: 5px;
}
main .perfil .info .perfil-footer input:hover {
  background: #23374d;
  transition: all 0.3s ease;
}
main .perfil .info .perfil-footer #guardar_usuario {
  display: none;
}
main .perfil .info .perfil-footer #modificar_usuario {
  display: block;
}
main .perfil .info #foto {
  width: 87%;
}
main .perfil .info #nombre {
  width: 60%;
}
main .perfil .info #edad {
  width: 20%;
}
main .perfil .info #paterno, main .perfil .info #materno{
  width: 40%;
}
main .perfil .info #correo{
  width: 50%;
}
main .perfil .info #telefono{
  width: 30%;
}
main .perfil .perfil-footer {
  width: 93%;
  margin: 20px 0;
}
main .perfil .perfil-footer p {
  float: left;
  margin: 0;
  font-size: 24px;
  vertical-align: middle;
}

main .ficha_tecnica{
  width: 80%;
  margin:auto;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  border-radius: 5px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
}

main .ficha_tecnica .titulo_ficha{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main .ficha_tecnica .titulo_ficha h2{
  width: 75%;
}

main .ficha_tecnica .titulo_ficha a{
  width: 25%;
  color: black;
  text-decoration: none;
}

main .ficha_tecnica .contenedor{
  border-radius: 5px;
  border-style: solid;
  padding: 20px;
}

main .ficha_tecnica .contenedor .asesor_info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main .ficha_tecnica .contenedor .asesor_info .principal{
  display: block;
  margin: auto;
  width: 50%;
}

main .ficha_tecnica .contenedor .asesor_info .secundario{
  display: block;
  margin: auto;
  width: 50%;
}

main .direccion {
  display: flex;
  width: 100%;
}
main .direccion .botones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  text-align: center;
  align-items: center;
}
main .direccion .botones a {
  width: 70%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background: #f3a953;
}
main .direccion .botones a:hover {
  background: #ffbe76;
  transition: all 0.3s ease;
}
main .direccion .direcciones {
  width: 70%;
}
main .direccion .direcciones,
main .direccion .direcciones,
main .direccion .direcciones{
  padding-left: 30px;
  margin-bottom: 20px;
}
main .direccion .direcciones .titulo {
  color: #fff;
  background: #23374d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 10px 20px;
}
main .direccion .direcciones .datos,
main .direccion .direcciones .datos,
main .direccion .direcciones .datos {
  background: #fff;
  padding: 10px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .direccion .direcciones .datos .pais,main .direccion .direcciones .datos .pais,main .direccion .direcciones .datos .pais,
main .direccion .direcciones .datos .estado,main .direccion .direcciones .datos .estado,main .direccion .direcciones .datos .estado{
  width: 40%;
}

main .direccion .direcciones .datos .numero,main .direccion .direcciones .datos .numero,main .direccion .direcciones .datos .numero,
main .direccion .direcciones .datos .codigo_postal,main .direccion .direcciones .datos .codigo_postal,main .direccion .direcciones .datos .codigo_postal{
  width: 30%;
}

main .direccion .direcciones .datos .descripcion,main .direccion .direcciones .datos .descripcion,main .direccion .direcciones .datos .descripcion{
  width: 90%;
}


main .direccion .direcciones .datos .ciudad,main .direccion .direcciones .datos .ciudad,main .direccion .direcciones .datos .ciudad,
main .direccion .direcciones .datos .colonia,main .direccion .direcciones .datos .colonia,main .direccion .direcciones .datos .colonia,
main .direccion .direcciones .datos .calle,main .direccion .direcciones .datos .calle,main .direccion .direcciones .datos .calle{
  width: 90%;
}

main .direccion .direcciones .datos input,main .direccion .direcciones .datos input,main .direccion .direcciones .datos input {
  padding: 10px;
  width: 55%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  margin: 10px;
}
main .direccion .direcciones .datos input[type="submit"],main .direccion .direcciones .datos input[type="submit"],main .direccion .direcciones .datos input[type="submit"]
{
  width: 25%;
  border: none;
  color: #fff;
  background: #1089ff;
}
main .direccion .direcciones .datos input[type="submit"]:disabled,main .direccion .direcciones .datos input[type="submit"]:disabled,main .direccion .direcciones .datos input[type="submit"]:disabled
{
  background: #23374d;
}
main .direccion .direcciones .datos input[type="button"],main .direccion .direcciones .datos input[type="button"],main .direccion .direcciones .datos input[type="button"]
{
  width: 25%;
  border: none;
  color: #fff;
  background: #1089ff;
}
main .direccion .direcciones .datos #pais, main .direccion .direcciones .datos #estado,main .direccion .direcciones .datos #pais, main .direccion .direcciones .datos #estado,main .direccion .direcciones .datos #pais, main .direccion .direcciones .datos #estado {
  width: 40%;
}
main .direccion .direcciones .datos #ciudad, main .direccion .direcciones .datos #colonia, main .direccion .direcciones .datos #calle,
main .direccion .direcciones .datos #ciudad, main .direccion .direcciones .datos #colonia, main .direccion .direcciones .datos #calle,
main .direccion .direcciones .datos #ciudad, main .direccion .direcciones .datos #colonia, main .direccion .direcciones .datos #calle {
  width: 85%;
}
main .direccion .direcciones .datos #num, main .direccion .direcciones .datos #postal,
main .direccion .direcciones .datos #num, main .direccion .direcciones .datos #postal, 
main .direccion .direcciones .datos #num, main .direccion .direcciones .datos #postal {
  width: 25%;
}
main .direccion .direcciones .datos a, 
main .direccion .direcciones .datos a, 
main .direccion .direcciones .datos a {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  background: #f3a953;
  color: #fff;
  padding: 10px 20px;
  margin-left: 20px;
}
main .direccion .direcciones .datos a:hover,
main .direccion .direcciones .datos a:hover,
main .direccion .direcciones .datos a:hover {
  background: #ffbe76;
  transition: all 0.3s ease;
}
main .direccion .direcciones, main .direccion .direcciones {
  padding-left: 30px;
  margin-bottom: 20px;
}
main .direccion .direcciones .titulo, main .direccion .direcciones .titulo {
  color: #fff;
  background: #23374d;
  border-radius: 5px;
  margin: 0;
  margin-top: 5px;
  padding: 10px 20px;
}

main .botones input{
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #ffbe76;
  color: #fff;
  font-size: 20px;
}

/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

main .profesores{
  overflow: hidden;
  clear: both;
}

main h2{
  display: inline-block;
}

main .add-profesor, .add-noticia, .add-material{
  float: right;
  background: #27ae60;
  margin: 20px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

main .add-profesor:hover, .add-noticia:hover, .add-material:hover{
  background: #2ecc71;
}

main .profesores .remove-profesor{
  background: #c0392b;
}

main .profesores .remove-profesor:hover{
  background: #e74c3c;
}

main .pages{
  text-align: center;
  margin-bottom: 25px;
}

main .pages button{
  display: inline-block;
  margin: 10px 50px;
  color: #1089ff;
}

main #delete{
  background: #e74c3c;
  margin: auto;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
  clear: both;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

#header{
  background: #23374d;
  color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #1089ff;
	color: white;
}

footer {
  clear: both;
  background: #2d3436;
}
footer .info {
  padding: 30px 0;
  text-align: center;
}
footer .info a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}
footer .info a:hover {
  text-decoration: underline;
}
footer .info .separador {
  pointer-events: none;
  cursor: default;
}

body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

#ex1{
  background:#f2f2f2;
  max-width: 900px;

}

#noticia-modal{
  background:#f2f2f2;
  max-width: 800px;

}

#material-modal{
  background:#f2f2f2;
  max-width: 600px;

}

#ex1 .error, #noticia-modal .error, #material-modal .error{
  display: block;
  margin: auto;
}


#ex1 h2, #noticia-modal h2, #material-modal h2{
  text-align: center;
}

#ex1 input{
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}

#noticia-modal input,#material-modal input{
  padding: 10px;
  width: 88%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}

#pass-modal input{
  display: block;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}

#muerto-modal input{
  display: block;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}


#ex1 input[type="submit"]{
  display: block;
    width: 55%;
    height: 45px;
    margin: 0 auto;
    margin-left: 45px;
    margin-top: 40px;
    background: #f3a953;
    color: #fff;
    border: none;
}

#noticia-modal input[type="submit"]{
  display: block;
    width: 45%;
    height: 45px;
    margin: 0 auto;
    margin-left: 130px;
    margin-top: 40px;
    background: #f3a953;
    color: #fff;
    border: none;
}

#material-modal input[type="submit"]{
  display: block;
    width: 45%;
    height: 45px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 40px;
    background: #f3a953;
    color: #fff;
    border: none;
}

#pass-modal input[type="submit"]{
  display: block;
    width: 55%;
    height: 45px;
    margin: 0 auto;
    margin-left: 45px;
    margin-top: 40px;
    background: #f3a953;
    color: #fff;
    border: none;
}

#muerto-modal input[type="submit"]{
  display: block;
    width: 55%;
    height: 45px;
    margin: 0 auto;
    margin-left: 45px;
    margin-top: 40px;
    background: #f3a953;
    color: #fff;
    border: none;
}

#ex1 input[type="submit"]:hover, #noticia-modal input[type="submit"]:hover, #material-modal input[type="submit"]:hover{
  transition: 300ms;
  background: #333;
}

#ex1 textarea, #noticia-modal textarea{
  resize: none;
  padding: 10px;
  width: 80%;
  height: 135px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}

#noticia-modal .noticia .secundario .informacion #informacion{
  width: 88%;
  height: 300px;
}

#noticia-modal .noticia .secundario .referencias #referencias{
  width: 88%;
}


#ex1 .asesor{
  display: flex;
  margin-left:80px;
  margin-bottom: 30px;
}
#ex1 .asesor .principal .telefono_edad{
  display: flex;
}

#ex1 .asesor .principal .telefono_edad .telefono{
  display: block;
  width: 57%;
}

#ex1 .asesor .principal .telefono_edad .edad{
  display: block;
  width: 30%;
}

#ex1 .asesor .secundario{
  display: block;
  width: 50%;
}

#noticia-modal .noticia,#material-modal .material{
  display: block;
  margin-left:80px;
  margin-bottom: 30px;
}

#noticia-modal .noticia .principal .admin_fecha,#material-modal .material .principal .admin_fecha {
  display: flex;
}


#noticia-modal .noticia .principal .admin_fecha .correo_administrador,#material-modal .material .principal .admin_fecha .correo_administrador{
  display: block;
  width: 60%;
}

#noticia-modal .noticia .principal .admin_fecha .fecha,#material-modal .material .principal .admin_fecha .fecha{
  display: block;
  width: 30%;
}

/*# sourceMappingURL=estilos.css.map */
